
body {
  font-family: 'Inconsolata', monospace;
  margin: auto;
}

h2, h3, p {
  margin: 0;
  margin-bottom: 1vh;
}

h2 {
  font-size: 7vw;
}
h3 {
  font-size: 4vw;
}

p {
  font-size: 2vw;
  margin-top: 2vh;
}
textarea {
  border: 1px solid black;
}

a {
  text-decoration: none;
  color: black;
  transition-duration: 0.4s;

}

a:hover {
  color: #f93434;
}

.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2vw;
  max-height: 100vh;
}

.child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85vw;
  padding: 1vw;

}
/*styling for supported functions paage*/
.sfs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60vw;
}
dl {
  margin: 0;
  margin-top: 1vh;
}

.doc {
  display: flex;
  flex-direction: column;
  width: 85vw;
}
.docu {
  color: #f93434;
}

.doc a {
  color: #f93434;
}

.wrap {
  display: flex;
  flex-direction: column;
  width: 48%;
  max-height: 50vh;
}


#submitBtn {
  margin:1vh;
  font-family: 'Inconsolata', monospace;
  border: 1px solid black;
  border-radius: 4px;
  background-color: white;
  font-size: 3vw;
  transition-duration: 0.4s;
  outline: none;
}

#submitBtn:hover {
  background-color: #f93434;
}

.navbar {
  width: 60vw;
  display: flex;
  justify-content: space-between;
  padding-top: 2vh;
  font-size: 2vw;
}

/* TAB STYLING */

/* Style the tab */
.tab {
  display: block;
  margin-bottom: 1vh;
}

/* Style the buttons inside the tab */
.tablinks {
  background-color: inherit;
  font-family: 'Inconsolata', monospace;
  border: 1px solid black;
  float: left;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  padding-top: 0;
  padding-bottom: 0;
}

/* Change background color of buttons on hover */
.tablinks:hover {
  background-color: #910d08;
}

/* Create an active/current tablink class */
.tablinks.active {
  background-color: #f93434;;
}

/* Style the tab content */
.tabcontent {
  display: none;
  background-color: black;
  flex-direction: column;
}


/*secondary styling for input*/
.tabcontent2 {
  background-color: black;
  flex-direction: column;
}

@media all and (max-width:425px) {
  #submitBtn {
    font-size: 7vw;
    padding: 1vh;
    margin:0;
  }
  .navbar {
    font-size: 4vw;
    width: 80vw;
    flex-wrap: wrap;
  }
  .wrap {
    width: 80vw;
    padding-bottom:2vh;
    max-height: 100vh;
  }
  .child {
    flex-direction: column;
  }
  .tab {
    font-size: 7vw;
    padding-bottom:2vh;
    margin:0;
  }
}
